@model MVC_Movie.Models.actor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Actor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actor_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Of_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Of_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Actor_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
