@model MVC_Movie.Models.movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Of_Release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Of_Release)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Movie_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
